<div class="login-container">
    <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
        <h2>Iniciar Sesion</h2>
        <div class="form-group">
            <label for="username">Usuario</label>
            <input type="userbane" id="username" class="form-control" [(ngModel)]= "usuario.username" name= "username"  #username="ngModel">
            <div *ngIf="username.invalid && username.touched" class="text-danger">
                El nombre del usuario es obligatorio
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" [(ngModel)]= "usuario.password" name= "password"  #password="ngModel">
            <div *ngIf="password.invalid && password.touched" class="text-danger">
                La contraseña del usuario es obligatorio
            </div>
        </div>



        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid"> Inniciar Sesion</button>
        <div *ngIf="errorMessage" class="text-danger mt-2">
            {{ errorMessage}}
        </div>
    </form>
</div>